
   /* Example media query for small screens */
   @media (max-width: 300px), (max-width: 850px) {
 
    .pay-now{
      position:relative;
      left: 115px;
      top: 111px;
      width: 100px;
    }



    .minimum-amount-label, .remaining-amount-label, .total-amount-label{
      position: relative;
       
      left: 10px !important;

    }
    

.minimum-label{
  position: relative;
  left: 5px;

}
.remaining-label{
  position: relative;
  left: 5px;

}
.total-label{
  position: relative;
  left: 5px;

}
.other-label{
  position: relative;
  left: 5px;

}


.payment-container{
padding :10px;
}

.pay-title-label{
  left: 110px !important;

}




   }

   

.payment-title{
    position:relative;
    background-color: #fff;
    font-size: 30px;
    height: 60px;
    max-width : 800px; 
}

.pay-title-label{
    position:relative;
    left: 23px;
    top: 7px;  
}
.pay-message-label{
    position:relative;
    left: 30px;
    top: 7px;  
}

.payment-message{
    position:relative;
    top: 1px;
    display: flex;
    background-color: #fff;
    height: 40px;
    max-width : 800px;
}

.payment-method{
    position:relative;
    background-color: #fff;
    top: 2px;
    height: 420px;
    max-width : 800px;
   

}
.payment-icon{
    position:relative;
    max-width:20px;
    height: 20px;
    top: 6px;
    left: 23px;
    color :red;
}

.payment-method-title{
    position:relative;
    max-width:120px;
    height: 20px;
    top: 20px;
    left: 23px;
    font-weight: bold;
  
}
.payment-entity-label{
    position:relative;
    max-width:420px;
    height: 20px;
    top: 30px;
    left: 23px;
  
  
}

.payment-amount-title{
    position:relative;
    max-width:120px;
    height: 20px;
    top: 50px;
    left: 23px;
    font-weight: bold;
}

.form{
    position:relative;   
    top: 60px;
    left: 30px;

    max-width: 300px;
}

.payment-form{
    position:relative;
    max-width: 300px;
    display: grid;

}

input[type='radio'] {
    height: 25px;
    max-width: 25px;
    vertical-align: middle;
  }

  .other-input{
    width :400px
  }

  .pay-now{
    position:relative;
    left: 158px;
    top: 111px;
  }

  .remaining{
    position:relative;
    top: 20px;
  }
  .remaining-label{
    position:relative;
    top: 20px;
  }

  .total{
    position:relative;
    top: 40px;
  }
  .total-label{
    position:relative;
    top: 40px;
  }

  .other-input{
    position:relative;
    top: 60px;
  }

  .other-amount-input{
    position:relative;
    top: 1px;

    left : 275px;
  }
  .minimum-amount-label{
    position:relative;
    top: 1px;

    left : 238px;
  }
  .remaining-amount-label{
    position:relative;
    top: 1px;

    left : 232px;
  }
  .total-amount-label{
    position:relative;
    top: 1px;

    left : 279px;
  }

  .dollar-input-container {
  position: relative;
  top: 20px;

}

.dollar-sign {
  position: absolute;
  left: 8px; /* Adjust this value as needed to position the dollar sign */
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none; /* Ensure the dollar sign does not interfere with input events */
}

.dollar-input {
  padding-left: 20px; /* Adjust this value to ensure the text doesn't overlap with the dollar sign */
}


.payment-container{
    max-width :800px;
    margin: auto;
}


.minimum-label{
  position: relative;
  left: 5px;

}
.remaining-label{
  position: relative;
  left: 5px;

}
.total-label{
  position: relative;
  left: 5px;

}
.other-label{
  position: relative;
  left: 5px;

}