.login-container{

    left: 250px;

    width:300px;
}



#login {
 
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
    width: 700px;
    height: 400px;
    left: 475px;
    position: relative;
    top: 100px;
    padding: 1rem;
  
}

#login.active {
    margin-left: -250px;
}

#login .login-header {
    padding: 20px;
    background: #6d7fcc;
}
 

.email-input{
    width :300px;
    height :40px;
    border-radius: 5px;
}
.password-input{
    width :300px;
    height :40px;
    border-radius: 5px;
}

.login-now{
    top: 20px;
    position: relative; 
    left: 5px;

}
.signup-now{
    top: 20px;
    position: relative; 
    left :10px;
}


.login-form{
    position: relative;
    width :300px;
    top: 40px;

}

.login-iframe{
    position: relative;
    width:180px;
    left: 358px;
    bottom: 168px;

}