@media (max-width: 300px), (max-width: 850px) {


    .trsx-label {
        position: relative;
        font-size: 12px;;
        
    }

}





.recent-activity-table{
    position: relative;
    background-color: #fff;
    top:40px;
    /* border-radius: 20px; */
    
}

div.MuiDataGrid-cellContent{

        --bs-text-opacity: 1;
    color: #6c757d !important;
}
div.MuiDataGrid-columnHeaderTitle{
    font-weight: bold;
    
}