.signup-container{

    left: 250px;

    width:300px;
}



#signup {
 
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
    width: 700px;
    height: 400px;
    left: 40px;
    position: relative;
    top: 100px;
    padding: 1rem;
  
}

#signup.active {
    margin-left: -250px;
}

#signup .signup-header {
    padding: 20px;
    background: #6d7fcc;
    text-align: center;

}
 


.signup-username-input{
    position: relative; 
    width :300px;
    height :40px;
    border-radius: 5px;
    left: 15px;


}
.signup-email-input{
    position: relative; 
    width :300px;
    height :40px;
    border-radius: 5px;
    top: 50px;
    right: 285px;

}
.signup-password-input{
    width :300px;
    height :40px;
    border-radius: 5px;
    position: relative; 
    top: 60px;
    left: 15px;

}
.signup-confirm-password-input{
    width :300px;
    height :40px;
    border-radius: 5px;
    position: relative; 
    top: 110px;
    right: 285px;

}

.signup-signup-now{
    position: relative; 
    top: 90px;
    left: 240px;

 
}
.signup-login-now{
    position: relative; 
    top: 90px;
    left: 275px;
 
}



.signup-signup-form{
    width :300px;
}

.signup-iframe{
    position: relative;
    width:180px;
    left: 358px;
    bottom: 156px;

}

.input-container{
    left: 140px;
    position: relative;
    padding: 30px;
}

 

 