@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

/* * { font-family: 'Roboto', sans-serif; } */


/* Example media query for small screens */
@media only screen and (min-width: 600px) {
 

 


}




/* stylelint-disable */
:root {
  --footer-height: 52px;
 
}


body {

  background-color: #d7d7d7ec;
  font-family: 'Poppins', sans-serif;
  /* color: white; */
  
 
}

.app-container{
  
}
 