/* src/App.css */
.dropdown {
  position: relative;
  display: inline-block;
  width: 200px;
  top: 20px;

}

.dropdown-header {
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
}

.dropdown-header .arrow {
  float: right;
}

.dropdown-header .arrow.open {
  transform: rotate(180deg);
}

.dropdown-list {
  position: absolute;
  width: 100%;
  border: 1px solid #ccc;
  border-top: none;
  background-color: #fff;
  z-index: 1;
}

.dropdown-list-item {
  padding: 10px;
  cursor: pointer;
}

.dropdown-list-item:hover {
  background-color: #f0f0f0;
}
